Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    max-width: 300px;
    width: 500px;
}